.iconButtonStyle  {
    top: -20px;
    z-index: 999999999 !important;
    background: white !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
}

.bannerButtonStyle {
    top: -15px;
    right: -400px;
    z-index: 99999999 !important;
    background: white !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
}