.grid_buttons {
    margin-top: 50px !important;
}

.back_btn_left {
    float: right;
    background-color: black !important;
    color: #fff !important;
}

.back_btn_left:hover {
    border: 1px solid black;
    background-color: #fff;
    color: black;
}

.back_btn_right {
    border: 1px solid black !important;
}

.back_btn_right:hover {
    border: 1px solid #fff !important;
    background-color: black !important;
    color: #fff !important;
}