.clipIcon{
    background-color: black !important;
    margin-left: 0px !;
    height: 55px !important;
    font-size: 48px;
    color: aliceblue !important;
    display: inline-flex;
    align-items: center;
    width: 60px;
    justify-content: center;
}
.GenerateKey {
    background-color: black !important;
    color: aliceblue !important;
    margin-top: 15px !important;
    padding: 10px 20px;
}

.GeneratekeyLabel {
    font-size: 18px !important;
}

.GenerateKeyInput:focus {
    outline: none !important;
}

.courseLabels {
    font-weight: 900;
    display: inline-flex;
    justify-content: space-between !important;
    width: 20%;
    height: 50px;
    align-items: center !important;
}