.main_block {
    display: flexbox;
    color: orange;
    text-align: center;
}

.spin {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}
.loading {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}